.article-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  padding: 15px;
  justify-content: flex-end;
}

.article-card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  height: fit-content;
  box-shadow: 0 4px 8px;
  background-color: lavender;
  flex-direction: column;
}

.article-card:hover {
  transform: translateY(-4px);
}

.article-title {
  margin-top: 0;
  font-size: 1.25rem;
  color: black;
}

.article-body {
  font-size: 0.95rem;
  color: black;
}

.article-image {
  width: 20%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
